venv/
.vagrant/
vagrant.sh
Vagrantfile
data/
hadoop/bin
hadoop/etc
hadoop/include
hadoop/lib
hadoop/libexec
hadoop/sbin
hadoop/share
hadoop/data
hadoop/mapreduce/input
hadoop/mapreduce/output
hadoop/mapreduce/tmp*
hadoop/total_document_count.txt
search_interface_server/wikipedia.sql
index_server/pagerank.out
